---
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AlignConsecutiveAssignments: true
SpacesInParentheses: true
BinPackParameters: false  # Forces function declarations to use vertical argument formatting
BinPackArguments: false   # Forces function calls to use vertical argument formatting
AlignAfterOpenBracket: AlwaysBreak  # Aligns function arguments properly after '('
PenaltyBreakBeforeFirstCallParameter: 0  # Encourages breaking function calls into new lines
